<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyBrowserApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B27C0A8F2116EEA900B33422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27C0AA32116EEAB00B33422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27C0AAE2116EEAB00B33422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
